li.tickets-list__item
  .ticket-card.ticket-card--color06
    .ticket-card__img
      img(src=`/img/${offer.img}`, alt=`Изображение товара: ${offer.title}`)
    .ticket-card__info
      span.ticket-card__label= offer.type === `buy` ? `КУПЛЮ` : `ПРОДАМ`
      .ticket-card__categories
        each category in offer.categories
          a(href=`offers/category/${category.id}`)= category.name
      .ticket-card__header
        h3.ticket-card__title
          a(href=`offers/${offer.id}`)= offer.title
        p.ticket-card__price
          span.js-sum= offer.price
          |  ₽
      .ticket-card__desc
        p= offer.description
