extends layouts/layout.pug

block content
  main.page-content
    section.categories-list
      h1.visually-hidden Сервис объявлений "Куплю - продам"
      ul.categories-list__wrapper
        each category in categories
          li.categories-list__item
            a.category-tile(href=`/offers/category/${category.id}`)
              span.category-tile__image
                img(src=`/img/${category.code}.jpg`, srcset=`/img/${category.code}@2x.jpg 2x`, alt=`Иконка категории: ${category.name}`)
              span.category-tile__label= category.name
                span.category-tile__qty.js-qty= category.offersCount
    section.tickets-list
      h2.visually-hidden Предложения из категории #{currentCategory.name}
      .tickets-list__wrapper
        .tickets-list__header
          p.tickets-list__title
            | #{currentCategory.name}
            b.js-qty= currentCategory.offersCount
        ul
          each offer in offers
            include partials/offer-card.pug
        if pagination.isActive
          .tickets-list__pagination
            ul.pagination
              if pagination.prev.status
                li
                  a(href=`/offers/category/${currentCategory.id}?page=${pagination.prev.page}`) назад
              each item in pagination.pages
                li
                  a(href=`/offers/category/${currentCategory.id}?page=${item.page}`, class=`${item.isActive ? `active` : ``}`)= item.page
              if pagination.next.status
                li
                  a(href=`/offers/category/${currentCategory.id}?page=${pagination.next.page}`) дальше
