extends layouts/layout.pug

block content
  main.page-content
    section.categories-list
      h1.visually-hidden Сервис объявлений "Куплю - продам"
      ul.categories-list__wrapper
        each category in categories
          li.categories-list__item
            a.category-tile.category-tile--default(href=`/offers/category/${category.id}`)
              span.category-tile__image
                img(src=`img/${category.code}.jpg`, srcset=`img/${category.code}@2x.jpg 2x`, alt='Иконка категории')
              span.category-tile__label= category.name
                span.category-tile__qty.js-qty= category.offersCount
    section.tickets-list
      h2.visually-hidden Самые новые предложения
      .tickets-list__wrapper
        .tickets-list__header
          p.tickets-list__title Самое свежее
        ul
          each offer in offers
            include partials/offer-card.pug
    section.tickets-list
      h2.visually-hidden Самые обсуждаемые предложения
      .tickets-list__wrapper
        .tickets-list__header
          p.tickets-list__title Самые обсуждаемые
        ul
          each offer in popularOffers
            include partials/offer-card.pug

